################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/packages
/TestNinja/bin/
/TestNinja/obj/
